.login {
  margin: 0 auto;
  margin-top: 130px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 400px;
}

.login h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.logo{
  width:150px;
  height: 150px;
  margin:0 auto;
}

.nmc{
  font-size:25px;
  margin-left:20px;
  align-items:center;
  justify-content:center;
}

.forgot-password {
  /* display: inline-block; */
  margin-top: 5px;
  font-size: 16px;
  color: #4CAF50;
  cursor: pointer;
}