.marker {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top: -5px;
    
  }
  .style{
    display: flex;
  }
  #context-menu {
    position: fixed; z-index: 10000;
    width: 150px;
    background: #1b1a1a; 
    border-radius: 5px;
    padding: 10px;
    color: white;
    }
    #context-menu item {
    padding: 8px 10px; font-size: 15px; color: #eee;
    cursor: pointer;
    border-radius: inherit;
    }
    #context-menu.item:hover {
    background: #343434;
    }
    #context-menu.visible {
      display: block;
      }
  .cbox {
    height: 15px;
    width: 25px;
    margin-left: 5px;
    /* margin-top: 8px; */
    vertical-align: middle;
    
     /* margin-bottom: 15px;  */
  }
  #legend {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
    z-index: 5;
    position: absolute;
    bottom: 10%;
    color: #000;
  }
  
  .mapContainer{
    height: 100%;
    width: 80%;
  }
  .para {
    color: #000000;
    /* word-wrap: break-word;
    font-weight: 600;
    font-size: medium;
    margin-top: 15px; */
    vertical-align: middle;
  }
  .delete-menu {
    position: absolute;
    background: white;
    padding: 3px;
    color: #666;
    font-weight: bold;
    border: 1px solid #999;
    font-family: sans-serif;
    font-size: 12px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
    margin-top: -10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .delete-menu:hover {
    background: #eee;
  }