.App {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: 100%;
}

.sidebar {
  width: 340px;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
}

.map {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .App {
    flex-direction: row;
  }

  .sidebar {
    width: 20%;
    height: 100vh;
    max-height: none;
  }

  .map {
    width: 80%;
    height: 100vh;
    max-height: none;
  }
}
